aiohttp==1.0.2
async-timeout==1.0.0
beautifulsoup4==4.5.1
bs4==0.0.1
chardet==2.3.0
click==6.6
multidict==2.1.1
python-dotenv==0.6.0
selenium==2.53.6
splinter==0.7.4
telepot==9.1
urllib3==1.24.2
virtualenv==15.0.3